/*                     
__        __          _                      _         _      
\ \      / /_ _ _   _| |__   __ _ _ __   ___| |_ _   _| | ___ 
 \ \ /\ / / _` | | | | '_ \ / _` | '__| / __| __| | | | |/ _ \
  \ V  V / (_| | |_| | |_) | (_| | |    \__ \ |_| |_| | |  __/
   \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |___/\__|\__, |_|\___|
                |___/                            |___/        

    by Komi
*/

/* Import colors from wal */
@import "../../.cache/wal/colors-waybar.css";

* {
    font-family: "JetBrainsMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    min-height: 0;
}

/* Window Waybar */
window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

/* Workspaces */
#workspaces {
    background: @background;
    padding: 0px 4px;
    margin: 0 2px;
    border: solid 1.5px #ffffff; /* Possible Pywal Value */
    border-radius: 15px;
    font-style: normal;
    font-size: 12px;
    opacity: 0.8;
}

#workspaces button {
    background: rgb(0, 0, 0);
    color: #ffffff;
    padding: 0px 5px;
    margin: 4px 4px;
    border: solid 1px #ffffff;
    border-radius: inherit;
    opacity: 0.4;
    transition: all .5s ease-in-out;
}

#workspaces button.active {
    background: rgb(0, 0, 0);
    color: #ffffff;
    min-width: 40px;
    border: solid 1px @color1;
    border-radius: inherit;
    opacity: 1.0;
    transition: all .5s ease-in-out;
}

#workspaces button:hover {
    background: @background;
    color: #ffffff;
    opacity: 0.8;
}

/* Taskbar */
#taskbar {
    background: @background;
    padding: 0px 4px;
    margin: 0 4px;
    border: solid 1.5px #ffffff; /* Possible Pywal Value */
    border-radius: 15px;
    opacity: 0.8;
}

#taskbar button {
    background: inherit;
    padding: 0px 6px;
    margin: 4px 4px;
    border: none;
}

/* Clock */
#clock {
    background: @background;
    color: @color7;
    padding: 0px 10px;
    margin: 0 4px;
    border: solid 1.5px #ffffff; /* Possible Pywal Value */
    border-radius: 15px;
    font-style: normal;
    font-size: 12;
    opacity: 0.8;
}

/* Pulseaudio */
#pulseaudio {
    background: @background;
    color: @color7;
    padding: 0px 8px;
    margin: 0 4px;
    border: solid 1.5px #ffffff; /* Possible Pywal Value */
    border-radius: 15px;
    font-style: normal;
    font-size: 12px;
    opacity: 0.8;
}

/* Stats group begin*/
#stats {
    background: @background;
    color: @color7;
    padding: 0px 4px;
    margin: 0 4px;
    border: solid 1.5px #ffffff; /* Possible Pywal Value */
    border-radius: 15px;
    opacity: 0.8;
}

#cpu {
    background: transparent;
    color: @color7;
    padding: 0px 4px;
    margin: 0px 0px;
    border: none;
    font-size: 12px;
}

#memory {
    background: transparent;
    color: @color7;
    padding: 0px 4px;
    margin: 0px 0px;
    border: none;
    font-size: 12px;
}
/* Stats group end */

/* Backlight */
#backlight {
    background: @background;
    color: @color7;
    padding: 0px 8px;
    margin: 0 4px;
    border: solid 1.5px #ffffff; /* Possible Pywal Value */
    border-radius: 15px;
    font-style: normal;
    font-size: 12px;
    opacity: 0.8;
}

/* Battery */
#battery, #battery.plugged {
    background: @background;
    color: @color7;
    padding: 0px 8px;
    margin: 0 4px;
    border: solid 1.5px #ffffff; /* Possible Pywal Value */
    border-radius: 15px;
    font-style: normal;
    font-size: 12px;
    opacity: 0.8;
}

#battery.charging {
    color: #bee7b1;
}

#battery.critical:not(charging) {
    color: #f56767
}

/* Tray */
#tray {
    background: @background;
    padding: 0px 8px;
    margin: 0 4px;
    border: solid 1.5px #ffffff; /* Possible Pywal Value */
    border-radius: 15px;
    opacity: 0.8;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

/* Language */
#language {
    background: @background;
    color: @color7;
    padding: 0px 8px;
    margin: 0 4px;
    border: solid 1.5px #ffffff; /* Possible Pywal Value */
    border-radius: 15px;
    font-style: normal;
    font-size: 12px;
    opacity: 0.8;
}

/* Player mpris */
#mpris {
    background: @background;
    color: #5aeebf;
    padding: 0px 8px;
    margin: 0 4px;
    border: solid 1.5px #ffffff; /* Possible Pywal Value */
    border-radius: 15px;
    font-style: normal;
    font-size: 14px;
    opacity: 0.8;
}

#mpris.paused {
    opacity: 0.5;
}

#window {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

label:focus {
    background-color: #000000;
}