:root {
    --border-radius: 0.75em;
    --border-size: .1em;
    --border-color-active: rgba(17, 170, 217, 0.9);
    --bg-color: rgba(20, 20, 20, 0.8);
    font-size: 14px;
    border: none;
}

.client-image {
    margin: 0px;
}

.client {
    margin: .25em;
    background-color: var(--bg-color);
}

.workspace {
    background-color: var(--bg-color);
    padding: 0.1em;
}

.monitor {
  padding: 2px;

  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  border: none;
}

.index {
    font-size: 0.75em;
}
